@page
@model ComicShelf.Pages.Publishers.IndexModel

@{
    ViewData["Title"] = "Publishers";
}

<h1>Publishers</h1>
@{
    var warning = ViewData["PublisherNotification"]?.ToString();
    if (!string.IsNullOrEmpty(warning))
    {
        <div class="alert alert-danger" role="alert">
            @warning
        </div>
    }
}


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Publisher[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Publisher[0].CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Publisher[0].Series)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Publisher)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@item.CountryFlagPNG" class="flag"/>
                    @Html.DisplayFor(x=> item.CountryName)
                </td>
                <td>
                    @foreach (var item2 in item.Series)
                    {
                        <a asp-page="/Series/Details" asp-route-id="@item2.Id">@item2.Name</a>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
