@page
@using ComicShelf.Localization;
@model ComicShelf.Pages.Publishers.IndexModel
@inject LocalizationService Localizer

@{
    ViewData["Title"] = Localizer["Publishers"];
}

<h1>@Localizer["Publishers"]</h1>
@{
    var warning = ViewData["PublisherNotification"]?.ToString();
    if (!string.IsNullOrEmpty(warning))
    {
        <div class="alert alert-danger" role="alert">
            @warning
        </div>
    }
}


<p>
    <a asp-page="Create">@Localizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Name"]
            </th>
            <th>
                @Localizer["Country"]
            </th>
            <th>
                @Localizer["AllSeries"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Publisher)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@item.CountryFlagPNG" class="flag" />
                    @Html.DisplayFor(x=> item.CountryName)
                </td>
                <td>
                    @foreach(var series in item.Series)
                    {
                        <a asp-page="/Series/Details" asp-route-id="@series.Id">@series.Name</a>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
