@page
@using ComicShelf.Localization;
@using ComicShelf.Services;
@model ComicShelf.Pages.Authors.IndexModel
@inject LocalizationService Localizer

@{
    ViewData["Title"] = Localizer["Authors"];
}



<h1>@Localizer["Authors"]</h1>
<div class="row">

    <div class="custom-table">
        @foreach (var author in Model.Author)
        {
            <form data-ajax="true" method="post" data-ajax-method="post" asp-page-handler="Update" data-ajax-complete="changeAuthorComplete">
                <div class="row">
                    <div class="col">
                        <input asp-for="@author.Id" hidden />
                        <input type="text" asp-for="@author.Name" class="form-control update-on-status-change" />
                    </div>
                    <div class="col-auto">
                        <select asp-items="(IEnumerable<SelectListItem>)@ViewData["AvailableRoles"]" class="form-select update-on-status-change" asp-for="@author.Roles"></select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary btn-success">@Localizer["Update"]</button>
                    </div>
                    <div class="col-6">
                        <span class="input-group-text">@string.Join(", ", author.Volumes.Select(x=>x.Series.Name).Distinct())</span>
                    </div>

                </div>
            </form>
        }
    </div>
</div>




@section Scripts {
    <script src="~/js/Authors.js"></script>
}