@using ComicShelf.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Volume

<div class="modal-header">
    <div class="row">
        <h3 class="modal-title" id="exampleModalLabel">@Model.Series.Name #@Model.Number</h3>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 mb-3">
                <img src="@Model.CoverUrl" class="img-fluid volume-image"/>
            </div>
            <div class="col-md-7">
                @if (!string.IsNullOrEmpty(Model.Series.OriginalName))
                {
                    <div class="input-group mb-3">
                        <span class="input-group-text">Оригінальна назва</span>
                        <span type="text" class="form-control">@Model.Series.OriginalName</span>
                    </div>
                }
                <div class="input-group mb-3">
                    @{
                        string icon;

                        switch (Model.PurchaseStatus)
                        {
                            case Models.Enums.PurchaseStatus.Announced:
                                icon = "bi-megaphone";
                                break;
                            case Models.Enums.PurchaseStatus.Pirated:
                                icon = "bi-flag";
                                break;
                            case Models.Enums.PurchaseStatus.Gift:
                                icon = "bi-gift";
                                break;
                            default:
                                icon = "bi-cash-coin";
                                break;
                        }
                    }
                    <span class="input-group-text">
                        Статус
                        
                    </span>
                    <span class="form-control" type="text">@Model.PurchaseStatus</span>
                    @if (Model.PurchaseDate != default)
                    {
                        <span type="text" class="form-control">@Model.PurchaseDate.ToShortDateString()</span>
                    }
                </div>

                <div class="input-group mb-3">
                    @{
                        string iconRead;

                        switch (Model.Status)
                        {
                            case Models.Enums.Status.Completed:
                                iconRead = "bi-book-fill";
                                break;
                            case Models.Enums.Status.Reading:
                                iconRead = "bi-book-half";
                                break;
                            default:
                                iconRead = "bi-book";
                                break;
                        }
                    }
                    <span class="input-group-text"><i class="bi @iconRead"></i></span>
                    <span type="text" class="form-control">@Model.Status</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-bookmark-check"></i></span>
                    <span type="text" class="form-control">@Model.Number</span>
                    <span class="input-group-text">/</span>
                    <span type="text" class="form-control">@Model.Issues.Count</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-bookmark-check"></i></span>
                    <span type="text" class="form-control">@Model.CreationDate</span>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <div class="row">
        <div class="col-6 text-start">
            <a asp-page="./Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
        </div>
        <div class="col-6 text-end">
            <a asp-page="./Edit" asp-route-id="@Model.Id" class="btn btn-primary ">Edit</a>
        </div>
    </div>
</div>