@using ComicShelf.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Volume

<div class="modal-header">
    <div class="row">
        <div class="modal-title display-6" id="exampleModalLabel">@Model.Series.Name #@Model.Number</div>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 mb-3">
                <img src="@Model.CoverUrl" class="img-fluid volume-image" />
            </div>
            <div class="col-md-7">
                @if (!string.IsNullOrEmpty(Model.Series.OriginalName))
                {
                    <div class="input-group mb-3">
                        <span class="input-group-text">Оригінальна назва</span>
                        <span type="text" class="form-control">@Model.Series.OriginalName</span>
                    </div>
                }
                <div class="input-group mb-3">
                    @if (Model.Authors.Count < 2)
                    {
                        <span class="input-group-text">Автор</span>
                    }
                    else
                    {
                        <span class="input-group-text">Автори</span>
                    }

                    <span type="text" class="form-control">@string.Join(", ", Model.Authors.Select(x=>x.Name))</span>

                </div>
                <form method="post" asp-page-handler="ChangeStatus" data-ajax-method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#book-@Model.Id" data-ajax-complete="changeStatusSuccess" id="update-on-status-change">

                    <div class="input-group mb-3">
                        <label asp-for="@Model.PurchaseStatus" class="input-group-text">Статус</label>
                        <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
                        <select asp-for="@Model.PurchaseStatus" asp-items="@Model.GetPurchaseStatusesListItems()" class="form-select" onchange="existhigPurchaseStatusChanged()"></select>
                        <input type="submit" value="Update" class="btn btn-outline-success" />
                    </div>
                    <div class="input-group mb-3" id="new-release-date">
                        <label asp-for="@Model.ReleaseDate" class="input-group-text"></label>
                        <input asp-for="@Model.ReleaseDate" class="form-control" type="date" />
                    </div>
                    <div class="input-group mb-3" id="new-purchase-date">
                        <label asp-for="@Model.PurchaseDate" class="input-group-text"></label>
                        <input asp-for="@Model.PurchaseDate" class="form-control" type="date" />
                    </div>
                </form>

                <div class="input-group mb-3">
                    @{
                        string iconRead;

                        switch (Model.Status)
                        {
                            case Models.Enums.Status.Completed:
                                iconRead = "bi-book-fill";
                                break;
                            case Models.Enums.Status.Reading:
                                iconRead = "bi-book-half";
                                break;
                            default:
                                iconRead = "bi-book";
                                break;
                        }
                    }
                    <span class="input-group-text"><i class="bi @iconRead"></i></span>
                    <span type="text" class="form-control">@Model.Status</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="bi bi-bookmark-check"></i></span>
                    <span type="text" class="form-control">@Model.Number</span>
                    <span class="input-group-text">/</span>
                    <span type="text" class="form-control">@Model.Issues.Count</span>
                </div>

                <div class="text-end">
                    <small>Створено @Model.CreationDate</small><br />
                    <small>Змінено @Model.ModificationDate</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <a asp-page="./Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger float-start"><i class="bi bi-trash"></i></a>
            </div>
            <div class="col-2">
                <a asp-page="./Edit" asp-route-id="@Model.Id" class="btn btn-primary float-end">Edit</a>
            </div>
        </div>
    </div>
</div>