@page "/"
@model ComicShelf.Pages.Volumes.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>

<h5>Announces and preorders</h5>
<div class="shelf">
    @foreach (var item in Model.AnnouncedAndPreordered)
    {
        <partial name="_ShelfPartial" model="@item" />
        
    }
</div>
<h5>Wishlist</h5>
<div class="shelf">
    @foreach (var item in Model.WishList)
    {
        <partial name="_ShelfPartial" model="@item" />
    }
</div>
<h5>Shelf</h5>
<div class="shelf">
    @foreach (var item in Model.Purchased)
    {
        <partial name="_ShelfPartial" model="@item" />
    }
</div>


<div class="row">
    @foreach (var item in Model.Volumes)
    {
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12 p-1">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    @if (item.Series != null)
                    {
                        <h6 class="card-subtitle mb-2 text-muted">@item.Series.Name</h6>
                    }
                    <p class="card-text">
                        Volume #
                        <span class="badge text-bg-info">@item.Number</span>
                    </p>

                </div>

                @if (item.CoverUrl != null)
                {
                    <img src="@item.CoverUrl" class="card-img-top" height="440" style="object-fit:cover" />
                }

                @*                <div class="card-body">
            @if (!string.IsNullOrEmpty(item.Name))
            {
            <h6 class="card-title">@item.Name</h6>
            }
            <p class="text-body-secondary">@item.Type</p>
            </div>
            *@
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        <div class="input-group">
                            @{
                                string icon;

                                switch (item.PurchaseStatus)
                                {
                                    case Models.Enums.PurchaseStatus.Announced:
                                        icon = "bi-megaphone";
                                        break;
                                    case Models.Enums.PurchaseStatus.Pirated:
                                        icon = "bi-flag";
                                        break;
                                    case Models.Enums.PurchaseStatus.Gift:
                                        icon = "bi-gift";
                                        break;
                                    default:
                                        icon = "bi-cash-coin";
                                        break;
                                }
                            }
                            <span class="input-group-text">
                                <i class="bi @icon"></i>
                            </span>
                            <span class="form-control" type="text">@item.PurchaseStatus</span>
                            @if (item.PurchaseDate != default)
                            {
                                <span type="text" class="form-control">@item.PurchaseDate.ToShortDateString()</span>
                            }
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            @{
                                string iconRead;

                                switch (item.Status)
                                {
                                    case Models.Enums.Status.Completed:
                                        iconRead = "bi-book-fill";
                                        break;
                                    case Models.Enums.Status.Reading:
                                        iconRead = "bi-book-half";
                                        break;
                                    default:
                                        iconRead = "bi-book";
                                        break;
                                }
                            }
                            <span class="input-group-text"><i class="bi @iconRead"></i></span>
                            <span type="text" class="form-control">@item.Status</span>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="input-group">

                            <span class="input-group-text"><i class="bi bi-bookmark-check"></i></span>
                            <span type="text" class="form-control">@item.Number</span>
                            <span class="input-group-text">/</span>
                            <span type="text" class="form-control">@item.Issues.Count</span>

                        </div>
                    </li>
                </ul>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 text-start">
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                        </div>
                        <div class="col-6 text-end">
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary ">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*        </a>
    *@      }
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('.book').on('click', function () {
                console.log("clicked");
                var id = $(this).data('id');
                $.ajax({
                    url: "?handler=Volume",
                    type: 'GET',
                    cache: false,
                    data: { id: id }
                }).done(function (result) {
                    $('.modal-content').html(result);
                });

            });
        })
    </script>
}