@page "/"
@model ComicShelf.Pages.Volumes.IndexModel


<p>
    <div class="row justify-content-between">
        <div class="col">
            <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createModal">Create New</button>
            <div class="btn-group mb-3" role="group" aria-label="purchse status filters">

                <input id="FilterAll" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" checked />
                <label for="FilterAll" class="btn btn-outline-secondary">All</label>

                <input id="FilterAvailable" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterAvailable" class="btn btn-outline-secondary">Shelf</label>

                <input id="FilterPreorder" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterPreorder" class="btn btn-outline-secondary">Preorder</label>

                <input id="FilterWishlist" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterWishlist" class="btn btn-outline-secondary">Wishlist</label>

                <input id="FilterAnnounced" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterAnnounced" class="btn btn-outline-secondary">Announced</label>

                <input id="FilterGone" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterGone" class="btn btn-outline-secondary">Gone</label>
            </div>

        </div>
        <div class="col-lg-2">
            <div class="input-group mb-3">
                <input id="search-field" type="search" class="form-control search" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="mb-3 row">
                <div class="col-auto">
                    <select id="sortType" class="form-select" aria-label="Default select example">
                        <option value="0" >За датою додавання</option>
                        <option value="1">За назвою</option>
                        <option value="2" selected>За датою покупки</option>
                    </select>
                </div>
                <button id="sortDirection" class="btn btn-outline-secondary col-auto" data-sort="up">
                    <i class="bi bi-sort-up"></i>
                </button>
            </div>
            <div class="row">

                    

                    
            </div>
                    
        </div>

    </div>


</p>


<div class="row" id="shelves">
    <partial name="_ShelfPartial" model="@Model.Volumes" />
</div>



<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="detail-modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <partial name="CreatePartial" />
</div>

@section Scripts {
    <script src="~/js/Volume.js"></script>
    <script>
        completed = (res) => {
            alert('Posted using Unobtrusive AJAX');
        };
    </script>
}

@*<div class="row">
    @foreach (var item in Model.Volumes)
    {
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6 col-sm-12 p-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    @if (item.Series != null)
                    {
                        <h6 class="card-subtitle mb-2 text-muted">@item.Series.Name</h6>
                    }
                    <p class="card-text">
                        Volume #
                        <span class="badge text-bg-info">@item.Number</span>
                    </p>

                </div>

                @if (item.CoverUrl != null)
                {
                    <img src="@item.CoverUrl" class="card-img-top" height="440" style="object-fit:cover" />
                }

                                <div class="card-body">
            @if (!string.IsNullOrEmpty(item.Name))
            {
            <h6 class="card-title">@item.Name</h6>
            }
            <p class="text-body-secondary">@item.Type</p>
            </div>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        <div class="input-group">
                            @{
                                string icon;

                                switch (item.PurchaseStatus)
                                {
                                    case Models.Enums.PurchaseStatus.Announced:
                                        icon = "bi-megaphone";
                                        break;
                                    case Models.Enums.PurchaseStatus.Pirated:
                                        icon = "bi-flag";
                                        break;
                                    case Models.Enums.PurchaseStatus.Gift:
                                        icon = "bi-gift";
                                        break;
                                    default:
                                        icon = "bi-cash-coin";
                                        break;
                                }
                            }
                            <span class="input-group-text">
                                <i class="bi @icon"></i>
                            </span>
                            <span class="form-control" type="text">@item.PurchaseStatus</span>
                            @if (item.PurchaseDate != default)
                            {
                                <span type="text" class="form-control">@item.PurchaseDate.ToShortDateString()</span>
                            }
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="input-group">
                            @{
                                string iconRead;

                                switch (item.Status)
                                {
                                    case Models.Enums.Status.Completed:
                                        iconRead = "bi-book-fill";
                                        break;
                                    case Models.Enums.Status.Reading:
                                        iconRead = "bi-book-half";
                                        break;
                                    default:
                                        iconRead = "bi-book";
                                        break;
                                }
                            }
                            <span class="input-group-text"><i class="bi @iconRead"></i></span>
                            <span type="text" class="form-control">@item.Status</span>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="input-group">

                            <span class="input-group-text"><i class="bi bi-bookmark-check"></i></span>
                            <span type="text" class="form-control">@item.Number</span>
                            <span class="input-group-text">/</span>
                            <span type="text" class="form-control">@item.Issues.Count</span>

                        </div>
                    </li>
                </ul>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6 text-start">
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                        </div>
                        <div class="col-6 text-end">
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary ">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*        </a>
          }
</div>
*@