@page "/"
@using ComicShelf.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@model ComicShelf.Pages.Volumes.IndexModel
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["MainPage"];
}


    <div class="row justify-content-between" id="filters">
        <div class="col">
            <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#createModal">@Localizer["AddNewVolume"]</button>
            <div class="btn-group mb-3" role="group" aria-label="purchse status filters">

                <input id="FilterAll" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" checked />
                <label for="FilterAll" class="btn btn-outline-secondary">
                    @Localizer["FilterAll"]</label>

                <input id="FilterAvailable" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterAvailable" class="btn btn-outline-secondary">
                    @Localizer["FilterAvailable"]</label>

                <input id="FilterPreorder" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterPreorder" class="btn btn-outline-secondary">
                    @Localizer["FilterPreorder"]
                </label>

                <input id="FilterWishlist" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterWishlist" class="btn btn-outline-secondary">
                    @Localizer["FilterWishlist"]
                </label>

                <input id="FilterAnnounced" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterAnnounced" class="btn btn-outline-secondary">
                    @Localizer["FilterAnnounced"]
                </label>

                <input id="FilterGone" class="btn-check ps-filter" type="radio" name="filter" autocomplete="off" />
                <label for="FilterGone" class="btn btn-outline-secondary">
                    @Localizer["FilterGone"]
                </label>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="row">
                <div class="input-group col-md mb-3 ">
                    <input id="search-field" type="search" class="form-control search" placeholder="@Localizer["Search"]" aria-label="Search" aria-describedby="button-addon2">
                </div>
                <div class="input-group col-md mb-3 ">
                    <select id="sortType" class="form-select" aria-label="Default select example">
                        <option value="0">@Localizer["ByCreationDate"]</option>
                        <option value="1">@Localizer["ByTitle"]</option>
                        <option value="2" selected>@Localizer["ByPurchaseDate"]</option>
                    </select>
                    <button id="sortDirection" class="btn btn-outline-secondary" data-sort="up">
                        <i class="bi bi-sort-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>



<div class="row" id="shelves">
    <partial name="_ShelfPartial" model="@Model.Volumes" view-data="@ViewData" />
</div>



<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="detail-modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <partial name="CreatePartial"/>
</div>

@section Scripts {
    <script src="~/js/Volume.js"></script>
    <script>
        completed = (res) => {
            alert('Posted using Unobtrusive AJAX');
        };
    </script>
}