@using Backend.Models.Enums;
@using Services;
@using Services.ViewModels;
@inject ILocalizationService Localizer

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VolumeViewModel

@{
    var expired = Model.Expired ? "expired" : string.Empty;
}

<img class="book-cover" src="~/@Model.CoverUrl" onerror="this.onerror=null; if (this.src != '/images/static/no-cover.png') this.src = '/images/static/no-cover.png';" alt="">
<div class="book-header">
    <div class="book-title @expired"></div>
    <div class="book-text">
        @Model.SeriesName
        @{
            if (!Model.OneShot)
            {
                <br>
                @Model.Title
            }
        }
    </div>

</div>
@{
    if (!Model.OneShot && Model.Number != 0)
    {
        <div class="book-number" style="background-color:@Model.SeriesColor;">@Model.Number</div>
    }
    else if(Model.Number == 0)
    {
        <div class="book-number" style="background-color:@Model.SeriesColor;">@Localizer["BonusIssueShort"]</div>
    }
}

@if (Model.PurchaseStatus == PurchaseStatus.Announced || Model.PurchaseStatus == PurchaseStatus.Preordered || Model.PurchaseStatus == PurchaseStatus.Wishlist)
{
    <div class="book-badge book-badge-@Model.PurchaseStatus.ToString().ToLower()">@Localizer[Model.PurchaseStatus.ToString()]</div>

    if (Model.ReleaseDate.HasValue && Model.PurchaseStatus != PurchaseStatus.Wishlist)
    {
        <div class=" book-badge badge-date @expired">@Model.ReleaseDate.Value.ToShortDateString()</div>
    }
}
@if (Model.Rating != 0)
{
    <div class="star">
        <span class="number">@Model.Rating</span>
    </div>
}



