@using Backend.Models.Enums;
@using Services;
@using Services.ViewModels;
@using System.Linq.Expressions;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject ILocalizationService Localizer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model VolumeViewModel





<div class="modal-header">
    <div class="row">
        <div class="modal-title display-6" id="exampleModalLabel">
            @Model.SeriesName
            @if (!Model.OneShot && Model.Number != 0)
            {
                @Model.Number
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.SeriesOriginalName))
        {

            <div class="row">
                <!-- Example split danger button -->

                <div class="modal-title col" id="exampleModalLabel">@Model.SeriesOriginalName</div>
            </div>

        }
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <div class="container-fluid">
        @* data-ajax-mode="replace"
        data-ajax-update="shelves"
         *@

        <form method="post" id="updateForm"
              asp-page-handler="ChangeStatus" enctype="multipart/form-data" data-ajax-method="post" data-ajax="true"
              data-ajax-complete="changeStatusSuccess">

            <div class="row">
                <div class="col-lg-5 mb-3">
                    <img src="@Model.CoverUrl" class="img-fluid volume-image" id="volume-cover" onerror="if (this.src != '/images/static/no-cover.png') this.src = '/images/static/no-cover.png';" alt="add alternative text here" />
                    <div class="input-group" id="new-cover">
                        <input id="CoverFile" name="CoverFile" class="form-control update-on-status-change" type="file" accept="image/*" onchange="showPreview(event);" />
                        @*                        <label for="CoverFile" class="input-group-text">@Localizer["Cover"]</label>
                        *@
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="input-group mb-3 dropstart">
                        <span class="input-group-text">@Localizer["Title"]</span>
                        <span type="text" class="form-control">@Model.Title</span>
                        @{
                            var url = $"https://www.google.com/search?q={Model.SeriesName} {Model.Title}";
                            var original = $"https://www.google.com/search?q={Model.SeriesOriginalName} {Model.Number} {Model.SeriesType}";

                            <button type="button" class="custom-button google-button dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@url" target="_blank" rel="noopener noreferrer">@Localizer["FullTitle"]</a></li>
                                <li><a class="dropdown-item" href="@original" target="_blank" rel="noopener noreferrer">@Localizer["OriginalName"]</a></li>
                            </ul>
                            <a class="custom-button google-button" target="_blank" rel="noopener noreferrer" href="@url">
                                <i class="bi bi-google"></i>
                            </a>
                        }
                        @if (Model.MalId != 0)
                        {
                            var mal = "https://myanimelist.net/manga/" + Model.MalId;
                            <a class="custom-button mal-button" target="_blank" rel="noopener noreferrer" href="@mal" title="MyAnimeList">
                                <i class="bi bi-list-ul"></i>
                            </a>
                        }

                    </div>
                    <div class="input-group mb-3">
                        @if (Model.Authors.Count() < 2)
                        {
                            <span class="input-group-text">@Localizer["Author"]</span>
                        }
                        else
                        {
                            <span class="input-group-text">@Localizer["Authors"]</span>
                        }

                        <span type="text" class="form-control">@string.Join(", ", Model.Authors)</span>

                    </div>
                    @if (Model.SeriesPublisherName != "Unknown")
                    {
                        <div class="input-group mb-3">
                            <span class="input-group-text">@Localizer["Publisher"]</span>
                            <span type="text" class="form-control">@Model.SeriesPublisherName</span>
                            <span class="input-group-text">
                                <a href="@Model.SeriesPublisherUrl" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-globe"></i>
                                </a>
                            </span>
                            <span class="input-group-text"> <img class="flag" src="@Model.SeriesPublisherCountryFlag" /></span>
                        </div>

                    }

                    @if (!Model.OneShot && Model.Number != 0)
                    {

                        <div class="input-group mb-3">
                            <span class="input-group-text">@Localizer["NumberInSeries"]</span>

                            <span type="text" class="form-control">@Model.Number</span>
                            <span class="input-group-text">/</span>

                            @if (@Model.SeriesOngoing)
                            {
                                <span class="form-control text-bg-success">@Localizer["Ongoing"]</span>
                            }
                            else
                            {
                                <span type="text" class="form-control">@Model.SeriesTotalVolumes</span>
                            }
                        </div>
                    }
                    else if (Model.OneShot)
                    {
                        <div class="mb-3">
                            <span class="form-control text-bg-primary">@Localizer["SingleVolume"]</span>
                        </div>

                    }



                    @if (Model.Issues.Any())
                    {
                        <div class="input-group mb-3">
                            <span class="input-group-text">@Localizer["Issues"]</span>
                            <span type="text" class="form-control">@Model.IssuesRange</span>

                            @{

                                if (!Model.OneShot)
                                {
                                    <span class="input-group-text">/</span>
                                    if (@Model.SeriesOngoing)
                                    {
                                        <span class="form-control text-bg-success">@Localizer["Ongoing"]</span>
                                    }
                                    else
                                    {
                                        <span type="text" class="form-control">@Model.SeriesTotalIssues</span>
                                    }
                                }
                            }
                        </div>
                    }
                    <div class="input-group mb-3">
                        <span class="input-group-text">@Localizer["Digitality"]</span>
                        <span type="text" class="form-control">@Localizer[@Model.Digitality.ToString()]</span>
                    </div>
                    <hr />
                    <div class="input-group mb-3">
                        <label asp-for="@Model.PurchaseStatus" class="input-group-text"><span class="bi bi-coin"></span></label>
                        <label asp-for="@Model.PurchaseStatus" class="input-group-text">@Localizer["PurchaseStatus"]</label>
                        <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />
                        <select asp-for="@Model.PurchaseStatus" asp-items="(IEnumerable<SelectListItem>)@ViewData["PurchaseStatuses"]" class="form-select update-on-status-change" onchange="purchaseStatusChanged(this)"></select>
                    </div>

                    <div class="input-group mb-3" id="purchase-date">
                        <label asp-for="@Model.PurchaseDate" class="input-group-text">@Localizer["PurchaseDate"]</label>
                        <input asp-for="@Model.PurchaseDate" class="form-control update-on-status-change" type="date" />
                    </div>

                    <div class="input-group mb-3" id="preorder-date">
                        <label asp-for="@Model.PreorderDate" class="input-group-text">@Localizer["PreorderDate"]</label>
                        <input asp-for="@Model.PreorderDate" class="form-control update-on-status-change" type="date" />
                    </div>
                    <div class="input-group mb-3" id="release-date">
                        <label asp-for="@Model.ReleaseDate" class="input-group-text">@Localizer["ReleaseDate"]</label>
                        <input asp-for="@Model.ReleaseDate" class="form-control update-on-status-change" type="date" />
                    </div>

                    <div class="input-group mb-3" id="reading-status">
                        @{
                            string iconRead;

                            switch (Model.Status)
                            {
                                case Status.Completed:
                                    iconRead = "bi-book-fill";
                                    break;
                                case Status.Reading:
                                    iconRead = "bi-book-half";
                                    break;
                                default:
                                    iconRead = "bi-book";
                                    break;
                            }
                        }

                        <label asp-for="@Model.Status" class="input-group-text"><i class="bi @iconRead"></i></label>
                        <label asp-for="@Model.Status" class="input-group-text">@Localizer["ReadingStatus"]</label>
                        <select asp-for="@Model.Status" asp-items="(IEnumerable<SelectListItem>)@ViewData["ReadingStatuses"]" class="form-select update-on-status-change" onchange="readingStatusChanged(this)"></select>
                    </div>

                    <div class="input-group mb-3" id="rating-select">
                        <span class="input-group-text">@Localizer["Rating"]</span>
                        <div class="form-control">

                            @{
                                var ratings = (IEnumerable<int>)ViewData["Ratings"];

                                for (int i = 0; i < ratings.Count(); i++)
                                {
                                    var rating = ratings.ElementAt(i);
                                    var isChecked = false;
                                    if (rating == Model.Rating)
                                    {
                                        isChecked = true;
                                    }
                                    var id = "Ratings_" + i;
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input update-on-status-change" type="radio" value="@rating" asp-for="@Model.Rating" id="@id" checked="@isChecked">
                                        <label class="form-check-label" for="@id">@rating</label>
                                    </div>
                                }
                            }
                        </div>
                    </div>



                    @*                    <div class="text-end">
                    <input type="submit" value="Update"]" class="btn btn-outline-success" />
                    </div>*@


                </div>
            </div>

            <div id="chapters">
                <partial name="_ChaptersView" model="Model" />
            </div>
        </form>
        <button class="btn wide-collapse-button mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAddChapters" aria-expanded="false" aria-controls="collapseAddChapters">
            <span>@Localizer["AddIssues"]</span>
        </button>
        <div id="collapseAddChapters" class="collapse mb-3">
            <form method="post" id="addIssuesForm"
                  asp-page-handler="AddChapters" enctype="multipart/form-data" data-ajax-method="post" data-ajax="true"
                  data-ajax-mode="replace"
                  data-ajax-update="#chapters"
                  data-ajax-complete="addChaptersSuccess">
                <div class="row">
                    <input type="hidden" value="@Model.Id" name="volumeId" />
                    <div class="col mb-3">
                        <div class="input-group">
                            <span class="input-group-text">@Localizer["Issues"]</span>
                            <input type="number" value="0" name="issueNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="input-group">
                            <span class="input-group-text">@Localizer["BonusIssues"]</span>
                            <input type="number" value="0" name="bonusIssueNumber" class="form-control" />
                        </div>
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="@Localizer["Add"]" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <a asp-page="./Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger float-start"><i class="bi bi-trash"></i></a>
            </div>
            <div class="col-lg-4 col-6">
                @*                <div class="text-end">
                <small>@Localizer["Created"] @Model.CreationDate</small><br />
                <small>@Localizer["Modified"] @Model.ModificationDate</small>
                </div>*@
                <div class="text-end">
                    <input type="submit" form="updateForm" value="@Localizer["Update"]" class="btn btn-success" />
                </div>
                @*                <a asp-page="./Edit" asp-route-id="@Model.Id" class="btn btn-primary float-end">Edit</a>
                *@
            </div>
        </div>
    </div>
</div>


