@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Services;
@using Services.ViewModels;
@inject ILocalizationService Localizer

@model ComicShelf.Pages.Volumes.IndexModel

<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <form method="post" id="create-form" asp-page-handler="Add" data-ajax-method="post" data-ajax="true" enctype="multipart/form-data" data-ajax-complete="createComplete" onreset="resetCreateForm()">
            <div class="modal-header">
                <div class="modal-title display-6 col-9">
                    <input asp-for="NewVolume.SeriesName" class="form-control form-control-lg modal-input-form" list="datalistOptions" placeholder="Введіть назву серії" autocomplete="off" />
                    <datalist id="datalistOptions">
                        @foreach (var item in Model.Series)
                        {
                            <option value="@item.Text">@item.Text</option>
                        }
                    </datalist>
                    <span asp-validation-for="NewVolume.SeriesName" class="text-danger"></span>
                </div>
                <label asp-for="NewVolume.Number" for="NewVolume_Number" class="modal-title display-6">#</label>
                <div class="modal-title display-6 col-2">
                    <input asp-for="NewVolume.Number" class="form-control form-control-lg modal-title display-6 modal-input-form" min="0" value="1" onchange="updateTitle('@Localizer["Volume"]')" />
                    <span asp-validation-for="NewVolume.Number" class="text-danger"></span>
                </div>
                <button type="button" class="btn-close col-1" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" style="display: none;" id="createAlert">
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-sm-5">
                        <img src="~/images/static/no-cover.png" class="img-fluid volume-image" id="new-volume-cover" />
                        <div class="mb-3 input-group">
                            <input asp-for="NewVolume.CoverFile" type="file" accept="image/*" class="form-control" onchange="showNewPreview(event);" />
                        </div>
                        <span asp-validation-for="NewVolume.CoverFile" class="text-danger"></span>
                    </div>
                    <div class="col-sm-7">
                        <div class="row mb-3">

                            @foreach (var item in Model.VolumeTypes)
                            {
                                if (item.Value == VolumeItemType.All.ToString())
                                {
                                    continue;
                                }
                                <div class="col-auto">
                                    @{ var ch = item.Value == VolumeItemType.Volume.ToString() ? "checked" : string.Empty; }
                                    <div class="input-group">

                                        <div class="input-group-text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@Localizer[item.Text + "Hint"]">
                                            <input name="NewVolume.VolumeType" class="form-check-input mt-0" type="radio" value="@item.Value" id="@("type" + item.Value)" @ch />
                                        </div>
                                        <label for="@("type" + item.Value)" class="input-group-text">@item.Text</label>
                                    </div>

                                </div>

                            }

                        </div>


                        <div class="row mb-3">
                            @{
                                var defaultTitle = $"{Localizer["Volume"].Value} 1";
                            }
                            <div class="input-group">
                                <label asp-for="NewVolume.Title" class="input-group-text">@Localizer["Title"]</label>
                                <input asp-for="NewVolume.Title" class="form-control" value="@defaultTitle" />
                            </div>
                            <span asp-validation-for="NewVolume.Title" class="text-danger"></span>
                        </div>

                        <div class="mb-3 input-group">
                            <label asp-for="NewVolume.Authors" class="input-group-text">@Localizer["Authors"]</label>
                            <input asp-for="NewVolume.Authors" class="form-control multple-datalist" multiple list="autorsOptions" placeholder="@Localizer["TypeForSearch"]" autocomplete="off" />
                        </div>
                        <datalist id="autorsOptions">
                            @foreach (var item in Model.Authors)
                            {
                                <option data-value="@item.Value">@item.Text</option>
                            }
                        </datalist>
                        <span asp-validation-for="NewVolume.Authors" class="text-danger"></span>


                        <div class="mb-3 input-group">
                            <label asp-for="@Model.NewVolume.NumberOfIssues" class="input-group-text">@Localizer["Issues"]</label>
                            <input asp-for="@Model.NewVolume.NumberOfIssues" class="form-control" type="number" autocomplete="off" />

                            <label asp-for="@Model.NewVolume.NumberOfBonusIssues" class="input-group-text">@Localizer["BonusIssues"]</label>
                            <input asp-for="@Model.NewVolume.NumberOfBonusIssues" class="form-control" type="number" autocomplete="off" />
                        </div>

                        <div class="row mb-3">
                            <div class="input-group">
                                <label asp-for="NewVolume.Digitality" class="input-group-text">@Localizer["Digitality"]</label>
                                <select asp-for="NewVolume.Digitality" class="form-select" asp-items="@Model.Digitalities"></select>
                            </div>
                            <span asp-validation-for="NewVolume.Digitality" class="text-danger"></span>
                        </div>

                        <div class="row mb-3">
                            <div class="input-group">
                                <label for="new-PurchaseStatus" class="input-group-text">@Localizer["PurchaseStatus"]</label>
                                <select asp-for="NewVolume.PurchaseStatus" class="form-select" asp-items="@Model.PurchaseStatuses" id="new-PurchaseStatus" onchange="purchaseStatusChanged(this, 'new')"></select>
                            </div>
                            <span asp-validation-for="NewVolume.PurchaseStatus" class="text-danger"></span>

                        </div>


                        <div class="row mb-3" id="new-preorder-date">

                            <div class="input-group">
                                <label asp-for="NewVolume.PreorderDate" class="input-group-text">@Localizer["PreorderDate"]</label>
                                <input asp-for="NewVolume.PreorderDate" class="form-control" type="date" asp-validation-for="NewVolume.PreorderDate" />
                            </div>
                            <span asp-validation-for="NewVolume.PreorderDate" class="text-danger"></span>

                        </div>

                        <div class="row mb-3" id="new-purchase-date">
                            <div class="input-group">
                                <label asp-for="NewVolume.PurchaseDate" class="input-group-text">@Localizer["PurchaseDate"]</label>
                                <input asp-for="NewVolume.PurchaseDate" class="form-control" type="date" />
                            </div>
                            <span asp-validation-for="NewVolume.PurchaseDate" class="text-danger"></span>

                        </div>


                        <div class="row mb-3" id="new-release-date">

                            <div class="input-group">
                                <label asp-for="NewVolume.ReleaseDate" class="input-group-text">@Localizer["ReleaseDate"]</label>
                                <input asp-for="NewVolume.ReleaseDate" class="form-control" type="date" asp-validation-for="NewVolume.ReleaseDate" />
                            </div>
                            <span asp-validation-for="NewVolume.ReleaseDate" class="text-danger"></span>

                        </div>


                        <div class="row mb-3" id="new-reading-status">
                            <div class="input-group">
                                <label for="new-Status" class="input-group-text">@Localizer["ReadingStatus"]</label>
                                <select asp-for="NewVolume.Status" class="form-select" asp-items="@Model.Statuses" onchange="readingStatusChanged(this, 'new')" id="new-Status"></select>
                            </div>
                            <span asp-validation-for="NewVolume.Status" class="text-danger"></span>
                        </div>

                        <div class="input-group mb-3" id="new-rating-select">
                            <span class="input-group-text">@Localizer["Rating"]</span>
                            <div class="form-control">
                                @for (int i = 0; i < Model.Ratings.Count; i++)
                                {
                                    var rating = Model.Ratings[i];
                                    var id = "Ratings_" + i;
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="@rating" asp-for="@Model.NewVolume.Rating" id="@id">
                                        <label class="form-check-label" for="@id">@rating</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                            <input type="reset" id="reset-button" value="@Localizer["Clear"]" class="btn btn-secondary" />
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <div class="form-check col-auto">
                                    <input class="form-check-input" type="checkbox" value="" id="add-more">
                                    <label class="form-check-label" for="add-more">
                                        @Localizer["AddOneMore"]
                                    </label>
                                </div>
                                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary col-auto" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
