@page
@model ComicShelf.Pages.CoversModel

@{
    ViewData["Title"] = "Covers";
}

<h1>Covers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VolumeCover[0].Cover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeCover[0].Extention)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VolumeCover) {
        <tr>
            <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Cover);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }

                    <img src="@imgSrc" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extention)
            </td>
            <td>
                @item.Volume.Series.Name @item.Volume.Number
            </td>
        </tr>
}
    </tbody>
</table>
